[MAIN]

suggestion-mode=yes

py-version = 3.11

[MESSAGES CONTROL]

disable=
    missing-docstring,
    missing-module-docstring,
    missing-function-docstring,
    consider-using-dict-items,
    consider-iterating-dictionary,
    no-member,
    invalid-name,

[FORMAT]

max-line-length=120
